@charset "utf-8";

/*reset*/
body,
nav,
ul,
li,
a,
div,
h1,
p,
i,
h2,
footer {
  margin: 0;
  padding: 0;
}
nav,
footer {
  display: block;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font: normal 12px/1.5em nexon, sans-serif;
}
img {
  border: none;
}
body,
html {
  height: 100%;
}

@font-face {
  font-family: nexon;
  /* src:url('../font/NEXON Lv1 Gothic OTF Bold.otf'); */
  src: url("../font/TossProductSans03Medium.woff") format("woff");
}

#main_menu {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
}
#main_menu ul {
  width: 1450px;
  height: 50px;
  margin: 0 auto;
}
#main_menu ul li {
  float: left;
  margin: 0 100px;
}
#main_menu ul li a {
  display: block;
  line-height: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
#main_menu ul li a.on {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}
#main_menu ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1400px) {
  #main_menu ul {
    width: 90%;
    height: 50px;
    margin: 0 auto;
  }
  #main_menu ul li {
    float: left;
    width: 20%;
    margin: 0;
    text-align: center;
  }
  #main_menu ul li a {
    font-size: 15px;
  }
}

#intro {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0765f8;
  background-size: cover;
  overflow: hidden;
}
#intro h1 {
  position: absolute;
  bottom: 60%;
  left: 0%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  color: #ffffff;
  font-size: 5em;
  opacity: 0;
}
#intro p {
  position: absolute;
  bottom: 50%;
  left: 0%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  color: #ffffff;
  font-size: 2em;
  opacity: 0;
}
.no1 {
  opacity: 0;
}

/*공통 no*/
.no {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  color: #ffffff;
  font-size: 3em; /* border:2px solid #ffffff; */
  width: 70px;
  height: 70px; /* border-radius:50%; */
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  z-index: 10;
}
.no4 {
  color: #333333;
  border-color: #333333;
}
.no2 {
  color: #333333;
  border-color: #333333;
}
.no3 {
  color: #333333;
  border-color: #333333;
}

/*●*/
#btn {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  z-index: 100;
}
#btn li {
  color: #cccccc;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
}
#btn li.sel {
  color: #cc0033;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

/*about*/
#about {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#about_bg {
  width: 100%;
  height: 100%; /* background:url(../images/bg02.jpg); */
}
#about_bg div:nth-child(1) {
  /* border:1px solid black; */
  background-color: #ffffff;
  width: 50%;
  height: 60%;
  position: absolute;
  top: 45%;
  right: 50%;
  border-radius: 20px;
  padding: 20px 30px;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  opacity: 0; /* box-shadow:10px 10px 7px grey; */
}

#about_bg h1 {
  position: absolute;
  left: -200px;
  top: 0px;
  font-size: 65px;
  color: #000000;
  opacity: 0;
  background-color: #0765f8;
  height: 35px;
}
#about_bg p {
  font-size: 15px;
  line-height: 27px;
  margin: 20px;
}
#about_bg img {
  margin-top: 70px;
  float: left;
  border-radius: 20px;
}
.profile {
  float: left;
  width: 630px;
  margin-top: 60px;
  margin-left: 100px;
}
.profile h2 {
  font-size: 40px;
  line-height: 40px;
  color: #0765f8;
  font-weight: bold;
}
.profile p span {
  display: inline-block;
  margin-left: 165px;
}

#project {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#project_bg {
  width: 100%;
  height: 100%;
}
#project_bg div h1 {
  position: absolute;
  left: 10px;
  top: 50px;
  font-size: 65px;
  color: #000000;
  opacity: 0;
  /* text-shadow: -1px 0 #C68FC9, 0 1px #C68FC9, 1px 0 #C68FC9, 0 -1px #C68FC9; */
  background-color: #0765f8;
  height: 35px;
}
#project_bg > div:nth-child(1) {
  background-color: #ffffff;
  width: 65%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 20px;
  padding: 20px 30px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
}

#wrap {
  height: 180px;
  margin-top: 80px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  float: left;
}
#wrap2 {
  height: 180px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  float: left;
}
#wrap3 {
  height: 180px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  float: left;
}
.circle {
  width: 180px;
  height: 250px;
  float: left;
  position: relative;
  margin-right: 60px;
  display: block;
  text-align: center;
}
.cir7,
.cir8,
.cir12 {
  margin-right: 0;
}
.circle strong {
  display: block;
  position: absolute;
  left: 95px;
  top: 145px;
  font-size: 20px;
}
.circle span {
  font-weight: bold;
}
.circle img {
  position: absolute;
  left: 60px;
  top: 64px;
}
.cir1 img,
.cir2 img {
  position: absolute;
  left: 65px;
  top: 55px;
}

/*work*/
#work {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#work_bg {
  width: 100%;
  height: 100%;
}
#work_bg h1 {
  position: absolute;
  left: 0px;
  top: 120px;
  opacity: 0;
  font-size: 65px;
  color: #000000;
  background-color: #0765f8;
  height: 35px;
}

#touchSlider {
  clear: both;
  width: 70%;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 200px;
}
#portfolio {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
#portfolio li {
  width: 100%;
  height: auto;
}
.sub {
  float: left;
  width: 400px;
  height: 485px;
}
.sub h3 {
  font-size: 35px;
}
.sub h4 {
  font-size: 20px;
  color: #0765f8;
}
.sub p {
  font-size: 15px;
  line-height: 30px;
}
#portfolio li img {
  float: left;
  width: 640px;
  height: 485px;
  margin-right: 100px;
  overflow: hidden;
}
#portfolio li a {
  display: block;
  width: 540px;
  height: 303px;
  position: relative;
  float: left;
  margin-right: 200px;
}

#portfolio li:nth-child(1) a::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 27px;
  width: 590px;
  height: 292px;
  background: url(../images/마이프로틴.png) no-repeat top center;
  background-size: 539px;
  z-index: 100;
}
#portfolio li:nth-child(2) a::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 27px;
  width: 590px;
  height: 292px;
  background: url(../images/반응형.png) no-repeat top center;
  background-size: 539px;
  z-index: 100;
}
#portfolio li:nth-child(3) a::after {
  content: "";
  position: absolute;
  top: 39px;
  left: 26px;
  width: 590px;
  height: 292px;
  background: url(../images/개인포트폴리오2.jpg) no-repeat top center;
  background-size: 541px;
  z-index: 100;
}
#portfolio li:nth-child(4) a::after {
  content: "";
  position: absolute;
  top: 39px;
  left: 26px;
  width: 590px;
  height: 292px;
  background: url(../images/goodino.gif) no-repeat top center;
  background-size: 551px;
  z-index: 100;
}

.port {
  margin: 0 auto;
  width: 86%;
}

.ts-controls {
  height: 36px;
  position: relative;
  margin-bottom: 30px;
}
.ts-prev {
  clear: both;
  width: 61px;
  height: 87px;
  position: absolute;
  bottom: 650%;
  left: 5%;
  background: url(../images/prev.png) no-repeat center;
  border: none;
  cursor: pointer;
  font-size: 0;
  opacity: 0.5;
  z-index: 100;
}
.ts-next {
  width: 61px;
  height: 87px;
  position: absolute;
  bottom: 650%;
  right: 5%;
  background: url(../images/next.png) no-repeat center;
  border: none;
  cursor: pointer;
  font-size: 0;
  opacity: 0.5;
  z-index: 100;
}

.ts-paging {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 0;
}
.ts-paging-btn {
  display: none;
  width: 10px;
  height: 0;
  max-height: 10px;
  padding-top: 10px;
  margin-left: 7px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #cccccc;
  outline: none;
}
.ts-paging-btn:first-child {
  display: none;
  margin-left: 0;
}
.ts-paging-active {
  display: none;
  background: #f5ea57;
}

/*contact*/
#contact {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#contact_bg {
  width: 100%;
  height: 100%;
  background-color: #0765f8;
}
#contact_bg div:nth-child(1) {
  /* background-color:#0765f8; */
  width: 70%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 20px;
  padding: 20px 30px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
}
#contact_bg div:nth-child(1) h1 {
  position: absolute;
  left: -5%;
  top: -5%;
  color: #0765f8;
  font-size: 110px;
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff,
    0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff;
}
#contact_bg div:nth-child(1) div p {
  font-size: 25px;
  color: #ffffff;
}
#contact_bg div:nth-child(1) div p:nth-child(1) {
  float: left;
  font-size: 40px;
  margin-top: 150px;
  width: 700px;
  line-height: 60px;
}
#contact_bg div:nth-child(1) div p:nth-child(2) {
  position: absolute;
  left: 750px;
  top: 90px;
}
#contact_bg div:nth-child(1) div p:nth-child(3) {
  position: absolute;
  left: 900px;
  top: 140px;
}
#contact_bg div:nth-child(1) div p:nth-child(4) {
  position: absolute;
  left: 750px;
  top: 250px;
}
#contact_bg div:nth-child(1) div p:nth-child(5) {
  position: absolute;
  left: 900px;
  top: 300px;
}

/*bottom*/
#bottom {
  width: 100%;
  height: 100px;
  background-color: #000033;
}
#sns_wrap {
  width: 256px;
  margin: 0 auto;
}
#sns_wrap a {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 2em;
  margin: 16px;
  margin-top: 25px;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
#sns_wrap a:nth-child(1) {
  background-color: #3b5998;
}
#sns_wrap a:nth-child(2) {
  background-color: #d93175;
}
#sns_wrap a:nth-child(3) {
  background-color: #24292f;
}
#sns_wrap a:nth-child(4) {
  background-color: #24292f;
  margin-right: 0;
}

#sns_wrap a:hover {
  opacity: 1;
}
